.galaxy-logo {
    background: url(~/lib/images/galaxy-logo.png) center center no-repeat;
    background-size: 100% 100%;
}

.pd-top-15 {
    padding-top: 15px;
}

.min-H-80 {
    min-height: 80px;
}

.pr {
    position: relative;
}

.top-50 {
    top: 50%;
}
.mr-top-15{
    margin-top: 15px;
}

.search {
    position: absolute;
    padding: 0 0 0 150px;
    top: 50%;
    transform: translate(0, -50%);
    
}

.pc-none{
    display: none;
}
.secondary-nav-wrapper {
    margin: auto;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.icon-user {
    background: url(~/images/user.png) center center no-repeat;
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.login a:hover {
    color: orange;
}

.cursor-pointer {
    cursor: pointer;
}

.galaxy-nav {
    transition: all 300ms;
    background-color: #000000;
    width: 100%;
    height: 100%;
}
.galaxy-nav nav {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.galaxy-nav .primary-nav {
    display: table-row;
    margin: 0;
}

.galaxy-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.galaxy-nav .primary-nav li {
    list-style: none;
    display: table-cell;
    text-align: center;
    width: calc(100% / 7);
    line-height: 50px;
}

.galaxy-nav .primary-nav li:not(:last-child) {
    background: url(~/images/line-menu.png) no-repeat center right;
}

.galaxy-nav nav ul li {
    float: left;
    position: relative;
    padding: 0;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
}

.galaxy-nav nav ul li:first-child a {
    padding-left: 0;
}

.galaxy-nav .primary-nav li a {
    display: block;
}

.galaxy-nav nav ul li a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.5s;
}
.galaxy-nav ul li a:hover{
    color: orange;
}

.footer-content{
    background-color: #1a1a1a;
    padding: 40px 15px 20px 15px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

.text-center{
    text-align: center;
}
.list-type{
    list-style: none;
}
.dis-flex{
    display: flex;
}
.font-size-32{
    font-size: 32px;
}
.mg-lg{
    margin: 0 12px;
}
.fz-25{
    font-size: 25px;
}
.li-footer{
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.h1-title{
    margin: 0 0 25px 0;

}
.h1-title::before{
    background-color: #f26b38;
    content: "";
    height: 30px;
    left: 18px;
    position: absolute;
    top: -2px;
    width: 6px;
}
.mg-l-17{
    margin-left: 17px;
}
.mg-l-18{
    margin-left: 18px;
}

.mg-l-60{
    margin-left: 60px;
}
.w-295{
    width: 260px;
}
.mg-bt-5{
    margin-bottom: 5px;
}
.hover-fake::before{
    background-color: #f26b38;
    content: "";
    height: 30px;
    left: 21px;
    position: absolute;
    top: 116px;
    width: 6px;
}
.mg-l-20{
    margin-left: 20px;
}
.logo-footer{
    width: 210px;
    position: absolute;
    right: 60px;
    top: 96px;
}
.footer-line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.p-footer{
    margin-left: 17px;

    font-size: 16px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}
.p-t-18{
    padding-top: 18px;
}
.fz-25{
    font-size: 25px;
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    animation: fadeIn linear 0.3s;
}
.nav__input:checked ~  .nav-overlay{
    display: block;
 }
 .nav__input:checked ~  .nav-mobi{
    transform: translateX(0);
    opacity: 1;

 }

@media (min-width:768px) and (max-width:1024px){
    .h1-title {
        width: 300px;
    }
    .h1-title-repon-cinema{
        width: 262px;

    }
    .support-repon{
        width: 346px;
    }
    .connect-repon{
width: 283px;
    }
    .down-repon{
        width: 268px;
    }
    .logo-footer {
        top: 440px;
    }
}

@media (max-width:768px){
    .h1-title {
        width: 300px;
    }
    .h1-title-repon-cinema{
        width: 262px;

    }
    .support-repon{
        width: 346px;
    }
    .connect-repon{
width: 283px;
    }
    .down-repon{
        width: 268px;
    }
    .logo-footer {
        top: 440px;
    }
    .logo-footer {
        display: none;
     }
     .contact-reponsive{
        font-size: 21px;
        width: 242px;
     }
   
}

@media (max-width:540px){
    .logo-repon{
        margin-top: 40px;
     }
     #dangchieu a{
        font-size: 11px;
     }
    
    #sapchieu a{
       font-size: 11px;
    }
}

@media (max-width:350px){
    .mobi{
        font-size: 17px;
        width: 198px;
    }
    .logo-footer {
       display: none;
    }
    .support-repon{
        width: 307px;
    }
    .mobi-260{
        width: 260px;
    }
    .li-footer{
        font-size: 15px;
    }
    .hover-fake::before{
        top: 79px;
    }
    .logo-repon{
        margin-top: 70px;
     }
     #dangchieu a{
        font-size: 8px;
     }
    
    #sapchieu a{
       font-size: 8px;
    }
}
@media (max-width:320px){
    #dangchieu a{
        font-size: 8px;
     }
    
    #sapchieu a{
       font-size: 8px;
    }

}


.icon-user{
    background: url(~/images/user.png) center center no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: block;
}
.login{
    display: flex;
}
.mr-left-5{
    margin-left: 5px;
}
.nav-tabs.movie-home {
    width: 50%;
}
.nav-tabs {
    border-bottom: 1px solid #DDD;
}
.pull-right {
    float: right !important;
}
.icon-hotnews {
    display: inline-block;
    background: url(~/images/ic_hotnews.png) no-repeat;
    width: 121px;
    height: 37px;
    vertical-align: middle;
}
.hot-news a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding: 14px 0 0 10px;
}
.nav-tabs.movie-home {
    width: 50%;
}
.nav-tabs {
    border-bottom: 1px solid #DDD;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs li {
    margin-right: 30px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav-tabs li.active > a {
    border-width: 0;
    border: none;
    color: #43464b !important;
    background: transparent;
}
.nav-tabs li > a {
    border: none;
    color: #a0a3a7;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs li.active > a:after {
    transform: scale(1);
}
.nav-tabs li > a:after {
    content: "";
    background: #f26b38;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.d-block{
    display: block;
}
.d-none{
    display: none;
}
.hot-news a:hover{
    color: #f26b38;
}
.movie-img{
    width: 100%;
    height: auto;
    display: table-cell;
}
.mg-t-35{
    margin-top: 35px;
}

.color-a0a3a7{
    color: #a0a3a7;
}
.movie-item{
    margin-bottom: 20px;
}
@media (max-width:1024px){
    .hot-news{
        display: none;
    }
    .nav-tabs.movie-home {
        width: 100%;
    }
    .galaxy-nav{
        display: none;
    }
    .mobi-none{
        display: none;
    }
    .pc-none{
        display: block;
        
    }


.mobi-lfex{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
   
}
body{
    overflow-x: hidden;
}
.mg-l--15{
    margin-left: -15px;
}
.nav-mobi{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    z-index: 3;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.3s;
}
.nav__list{
    position: absolute;
    right: 24px;
    top: 66px;
    text-align: right;
}
.nav__list li{
    margin: 8px 0;

}
.subnav a{
   color:  #a0a3a7;
   font-size: 14px;
}
.input-search{
    font-size: 14px;
    padding: 6px 84px;
    padding-left: 14px;
}
.subnav i{
    position: absolute;
    right: 8px;
    top: 19px;
    color: #a0a3a7;
    font-size: 20px;
}
.fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before {
    content: "\f00d";
    position: absolute;
    right: 27px;
    font-size: 36px;
    top: 21px;
    color: #a0a3a7;

}


}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn.secondary {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f26b38;
    border: 1px solid #f26b38;
    padding: 15px 20px;
    text-decoration: none;
    line-height: 1;
}
.fl-right {
    float: right;
}
.btn {
    border-radius: 0;
}
.btn:hover{
    background-color: orange;
}
a.title-block {
    color: #43464b;
}
h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.title-block h3:hover{
    color: #f26b38;
}
h3:after {
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: "";
    background-color: #f26b38;
}
.blog {
    display: table;
    width: 100%;
    margin: 30px 0;
}
.blog .movie-thumb {
    float: left;
    position: relative;
    margin: 0 20px 0 0;
}
.blog .movie-thumb a {
    display: block;
    width: 220px;
    height: auto;
}
.blog .movie-thumb a img {
    display: block;
    width: 220px;
    height: auto;
}
a img {
    border: none;
}
.blog h5 {
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: capitalize;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 58px;
}
h1, h2, h3, h4, h5, p {
    line-height: 1.5;
}
.blog h5 a {
    line-height: 22px;
    color: #43464b;
}
ul.article-blog-like {
    padding-bottom: 10px;
}
ul.article-blog-like li span {
    font-size: 12px;
    vertical-align: middle;
}
.view-wrap {
    background-color: #e9edf1;
    border-radius: 3px;
    padding: 4px 10px;
    color: #43464b;
}
ul.article-blog-like li i {
    font-size: 22px;
    margin-right: 3px;
    vertical-align: middle;
}
.icon-view {
    width: 20px;
    height: 11px;
    display: inline-block;
    background: url(https://www.galaxycine.vn/website/images/ic-view.png) no-repeat;
    background-size: cover;
}
ul.article-blog-like li span {
    font-size: 12px;
    vertical-align: middle;
}
ul.article-blog-like li {
    display: inline-block;
    vertical-align: middle;
}
.rating-movie.rating-home {
    background-size: 20px;
    height: 25px;
    padding-left: 24px;
    margin-left: 10px;
}
.rating-movie {
    font-size: 11px;
    height: 40px;
    background: url(https://www.galaxycine.vn/website/images/ic_star_yellow.png) no-repeat;
    background-size: 21px;
    padding-left: 24px;
    background-position: left center;
    display: table-cell;
    vertical-align: middle;
}
.rating-movie.rating-home .rating-value {
    float: left;
}
.rating-movie .rating-value {
    margin-bottom: -2px;
    white-space: nowrap;
}
ul.article-blog-like li span {
    font-size: 12px;
    vertical-align: middle;
}
.rating-movie.rating-home .rating-value strong {
    font-size: 20px;
    line-height: 24px;
    vertical-align: unset;
}
.rating-movie .rating-value strong {
    font-size: 18px;
}
b, strong {
    font-weight: 500;
}
.rating-movie.rating-home .rating-value span {
    font-size: 16px;
    vertical-align: unset;
}
.blog .blog-content {
    color: #a0a3a7;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: justify;
    max-height: 42px;
}
a {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    color: #a0a3a7;
    cursor: pointer;
}