<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppCinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="galaxy-logo col-md-4 movie-item col-sm-4 col-xs-4 min-H-80 cursor-pointer">
                    <img src="" />
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 min-H-80 pr z-1 mobi-none">
                    <div class="row">
                        <div class="text-center search">
                            <input type="text" placeholder="Tìm tên phim, diễn viên,...">
                        </div>
                        <div class="secondary-nav-wrapper">
                            <ul class="secondary-nav">
                                <li class="login">
                                    <i class="icon-user"></i>
                                    @if (Context.Session.GetString("role") == "User")
                                    {
                                        <a class="mr-left-5">
                                            @Context.Session.GetString("username")
                                        </a>
                                        <a class="mr-left-5" asp-action="Logout" asp-controller="Account">
                                            Logout
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="mr-left-5" asp-controller="Account" asp-action="Login">
                                            Đăng Nhập
                                        </a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 min-H-80 pr z-1 pc-none mobi-lfex mg-l--15 fz-25">
                    <div class="row">
                        <label for="nav-mobile-input" class="fa-solid fa-bars"></label>
                    </div>
                    <input type="checkbox" hidden id="nav-mobile-input" class="nav__input">
                    <label for="nav-mobile-input" class="nav-overlay"></label>

                    <div class="nav-mobi">
                        <label for="nav-mobile-input" class="fa-solid fa-xmark"></label>
                        <ul class="nav__list">
                            <li class="subnav">
                                <input type="text" placeholder="Tìm Tên Phim, Diễn Viên..." class="input-search">
                                <label class="fa-solid fa-magnifying-glass"></label>
                            </li>
                            <li class="subnav">
                                <a href="#">Mua Vé</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Phim</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Góc Điện Ảnh</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Sự Kiện</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Giá/Rạp Phim</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Hỗ Trợ</a>
                            </li>
                            <li class="subnav">
                                <a href="#">Thành Viên</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="galaxy-nav mr-top-15">
            <div class="container">
                <nav>
                    <ul class="primary-nav">
                        <li>
                            <a href="#">Mua vé</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Phim</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Góc Điện Ảnh</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Sự Kiện</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Giá/Rạp Phim</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Hỗ Trợ</a>
                        </li>
                        <li class="subnav">
                            <a href="#">Thành Viên</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-xs-12 col-sm-12  introduce">
                            <h1 class="text-center fz-25 h1-title mg-l--28 mobi mobi-260">Giới Thiệu</h1>

                            <ul class="list-type">
                                <li class="li-footer">Về Chúng Tôi</li>
                                <li class="li-footer">Thỏa Thuận Sử Dụng</li>
                                <li class="li-footer">Quy Chế Hoạt Động</li>
                                <li class="li-footer">Chính Sách Bảo Mật</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-xs-12 col-sm-12 cinemacorner">
                            <h1 class="text-center fz-25 h1-title mg-l-12 h1-title-repon-cinema mobi">Góc Điện Ảnh</h1>
                            <ul class="list-type">
                                <li class="li-footer">Thể Loại Phim</li>
                                <li class="li-footer">Bình Luận Phim</li>
                                <li class="li-footer">Blog Điện Ảnh</li>
                                <li class="li-footer">Phim Hay Tháng</li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-xs-12 col-sm-12 support">
                            <h1 class="text-center fz-25 h1-title mg-l--66 support-repon mobi">Hổ Trợ</h1>
                            <ul class="list-type">
                                <li class="li-footer">Góp Ý</li>
                                <li class="li-footer">Sale & Services</li>
                                <li class="li-footer">Rạp / Giá Vé</li>
                                <li class="li-footer">Tuyển Dụng</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-xs-12 col-sm-12 connect">
                            <h1 class="text-center fz-25 h1-title mg-l-60 w-295 connect-repon mobi contact-reponsive">Kết Nối Galaxy Cinema</h1>
                            <ul class="list-type dis-flex font-size-32 mg-bt-5">
                                <li class="mg-lg li-footer"><i class="fa-brands fa-facebook"></i></li>
                                <li class="mg-lg li-footer"><i class="fa-brands fa-youtube"></i></li>
                                <li class="mg-lg li-footer"><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                            <h1 class="text-center fz-25 h1-title mg-bt-5 hover-fake mg-l-20 down-repon mobi">Download App</h1>
                            <ul class="list-type dis-flex font-size-32">
                                <li class="mg-lg li-footer"><i class="fa-brands fa-apple"></i></li>
                                <li class="mg-lg li-footer"><i class="fa-brands fa-google"></i></li>
                            </ul>
                        </div>
                        <!-- <img src="https://www.galaxycine.vn/website/images/glx_trade.png" class="logo-footer " alt=""> -->
                    </div>
            </footer>
            <div class="footer-line"></div>
            <div class="container p-t-18">
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dis-flex">
                        <a href="/">
                            <img src="https://www.galaxycine.vn/website/images/galaxy-logo-footer.png" alt="Galaxy Cinema" class="logo-repon" data-was-processed="true">
                        </a><div class="copyright">
                            <p class="p-footer">
                                Công Ty Cổ Phần Phim Thiên Ngân,
                                Tầng 3, Toà Nhà Bitexco Nam Long, 63A Võ Văn Tần, P. Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>




    <script src="~/js/jquery.js"></script>
    <script src="~/js/Main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
